# this file is super simple! if you dont want it publish to github so the world can see what is in the file, such as api keys 
# or passwords, just simply add the file name on a new line. thats it. then when you publish/commit to github it wont publish that fil


test.php
jeff.php
jeff.php